body {
    background-color: #d7cfc2;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

main {
    display: flex;
    
}

.letters td {
    width: 64px;
    height: 64px;
    text-align: center;
}

.chess td {
    font-size: 42px;
    width: 64px;
    height: 64px;
    text-align: center;
}

.digits td {
    width: 64px;
    height: 64px;
    text-align: center;
}

.white {
    background-color: #d3c7b9;
}

.black {
    background-color: #998779;
}

.chess td:not(.white):not(.black) { 
    border: none; 
    font-size: 24px;
}

.chess tr td:first-child {
    text-align: right;
}

.chess tr td:last-child {
    text-align: left;
}

.chess tr:first-child td {
    vertical-align: bottom;
}

.chess tr:last-child td {
    vertical-align: top;
}